.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.areaInput {
  display: flex;
  gap: 0.5rem;
  margin-top: -2.062rem;

}

.areaInput input {
  width: 46rem;
  text-align: start;
  padding:1rem;
  height: 3.375rem;
  background: var(--gray-500);
  color: var(--gray-300);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
}


.areaInput button {
  width: 5.625rem;
  height: 3.25rem;
  background: var(--blue-900);
  border-radius: 8px;
  border: none;
  color: var(--gray-100);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.content {
  margin-top: 4rem;
  width: 46rem;
}



.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.headerControlTasks span {
  margin-right: 0.2rem;
}

.headerControlTasks small {
  background: var(--gray-400);
  color: var(--gray-100);
  border-radius: 999px;
  padding: 2px 8px;
  height: 19px;
  width: 25px;
}


.labelTarefasCriadas {
  color: var(--blue-100);
}

.labelTarefasConcluidas {
  color: var(--purple-100);
}

.taskList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.75rem ;
  height: 4.5rem;
  padding: 1rem;
  background: var(--gray-500) ;
  border: 1px solid var(--gray-300);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.taskList + .taskList {
  margin-top: 0.75rem;
}

.doneTask {
  border-radius: 50%;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--blue-100);
}

.taskList button {
  background: transparent;
  border: 0;
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;;
}

.taskList span {
  width: 39.5rem;
  text-align: center;
}

.doneTask:checked {
  background: var(--purple-100);
  color: var(--gray-100);
}


.doneTask:checked::after{
  content: '\2713';
  font-size: 12px;
  margin-left: 3px;
  color: white;
  display: flex;
}